<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>About us</h1>
    <p>We are a team of developers from France and are fond of all types of video games.
    <br><br>
    ELEMENTS is our first Game. It is meant to be funny and allows us to develop our gameplay modules.
  <br>A beta version of the game will be released on the beginnign of 2017 on the Steam Platform.</p>
  </body>
</html>
