<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>Contact Us</h1>
    <p>If you want to contact us for any reason, please use this email :
    <br><A HREF="mailto:arokmastudio@gmail.com">arokmastudio@gmail.com</A></p>
  </body>
</html>
