<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <body>

      <h1>DevBlog Elements</h1>

      <p>Welcome to the blog dedicated to Arokma Studio's first game development,
      <br> <%=image_tag("Elements700p.png", alt: "ELEMENTS")%></p>

  </body>
</html>
